.main-container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 0 1fr;
    overflow: hidden;

    @media screen and (max-width: 660px) {
        grid-template-rows: auto 0 1fr auto;
    }

    app-piggy-sense-chat {
        @media screen and (max-width: 660px) {
            display: none;
        }
    }
}