@import "src/styles/variables.scss";

.goal-deadline-container {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr auto;
    color: $dark-green;
    overflow: hidden;

    form {
        max-height: 100%;
        display: grid;
        justify-content: center;
        gap: 1rem;
        overflow: auto;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0;
        }

        .question {
            font-size: 1.2rem;
            font-weight: bold;
            margin: 0.5rem 0;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
        }

        .long-group, .short-group {
            display: grid;
            grid-template-columns: auto 1fr;

            input[type='radio'] {
                height: 0.75rem;
                width: 0.75rem;
                border-radius: 50%;
                border: 1px solid $dark-green;
                accent-color: $dark-green;
                appearance: none;
                -webkit-appearance: none;

                &:checked {
                    border: 1px solid $dark-green;
                    background-color: $dark-green;
                }
            }
        }

        .input-wrapper {
            position: relative;

            .suffix {
                position: absolute;
                bottom: 0.25rem;
                right: 0.5rem;
                opacity: 0.8;
                font-size: 0.9rem;
            }
        }

        input[type='number'] {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $dark-green;
            width: 100%;

            &:focus-visible {
                outline: none;
            }
        }
    }
}