<div *ngIf="user" class="settings-container">
    <div class="wrapper">
        <div class="title">Avatar választó</div>
        <div class="divider"></div>
        <div class="content">
            <div *ngFor="let avatarImg of avatarImgs" 
                 class="avatar-container" 
                 [class.active]="avatarImg === selectedAvatar" 
                 (click)="onClickAvatar(avatarImg)">
                <img class="avatar" [src]="avatarImg"/>
            </div>
            <app-monogram class="monogram-desktop"
                          [firstName]="user.firstname" [lastName]="user.lastname" 
                          [fontsize]="'2.5rem'"
                          [class.active]="selectedAvatar === null"
                          (click)="onClickMonogram()"></app-monogram>

            <app-monogram class="monogram-mobile"
                          [firstName]="user.firstname" [lastName]="user.lastname" 
                          [fontsize]="'1.25rem'"
                          [class.active]="selectedAvatar === null"
                          (click)="onClickMonogram()"></app-monogram>
        </div>
    </div>
    <div class="wrapper">
        <div class="title">Személyes adatok</div>
        <div class="divider"></div>
        <div class="content">
            <form [formGroup]="userFormGroup" class="user">
                <div class="form-group">
                    <label>Vezetéknév</label>
                    <input type="text" formControlName="lastname">
                </div>
                <div class="form-group">
                    <label>Keresztnév</label>
                    <input type="text" formControlName="firstname">
                </div>
                <div class="form-group">
                    <label>Felhasználónév</label>
                    <input type="text" formControlName="username">
                </div>
                <div class="form-group">
                    <label>Email cím</label>
                    <input type="text" formControlName="email">
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <div class="title">Pénzügyek</div>
        <div class="divider"></div>
        <div class="content">
            <form [formGroup]="paymentFormGroup" class="payment">
                <div class="form-group">
                    <label for="income">Havi jövedelme</label>
                    <input id="income" type="text" formControlName="income">
                </div>
                <div class="form-group">
                    <label for="saving">Megtakarítás</label>
                    <input id="saving" type="text" formControlName="saving">
                </div>
                <div class="form-group">
                    <label for="fixPayment">Fix költség</label>
                    <input id="fixPayment" type="text" formControlName="fixPayment">
                </div>
                <div class="form-group">
                    <label>Fix költség (kategóriák)</label>
                    <app-spending-category-icons [activeCategories]="selectedFixSpendingCategories"
                                                (activeCategoriesOutput)="onChangeActiveCategories($event)"></app-spending-category-icons>
                </div>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <div class="title">Spórolással kapcsolatos adatok</div>
        <div class="divider"></div>
        <div class="content">
            <form *ngIf="isGoalLoaded" [formGroup]="goalFormGroup" class="saving-payment">
                <div class="form-group goals">
                    <label>Spórolás célja</label>
                    <ng-container *ngFor="let goal of goals; let i = index">
                        <div class="row">
                            <input [id]="'goal'+ i" type="checkbox" [formControlName]="'goal' + i"/>
                            <label [for]="'goal' + i">{{goal.valueOf()}}</label>
                        </div>
                    </ng-container>
                    <div class="row">
                        <input id="other" type="checkbox" formControlName="other"/>
                        <label for="other">Egyéb:</label>
                    </div>
                    <input id="other" type="text" formControlName="otherName"/>
                </div>
                <div class="form-group amount">
                    <label for="amount">Cél összeg:</label>
                    <div class="input-wrapper">
                        <input id="amount" type="number" formControlName="amount">
                        <span class="suffix">Ft</span>
                    </div>
                </div>
                <div class="form-group years">
                    <label>Kitűzött spórolási táv</label>
                    <div class="input-wrapper">
                        <input type="number" id="deadline" formControlName="years">
                        <span class="suffix">Év</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="alert wrapper">
        <div class="title">Értesítések</div>
        <div class="divider"></div>
        <div class="content">
            <form [formGroup]="alertFormGroup" class="alerts">
                <div class="form-group">
                    <label>Globális értesítések engedélyezése</label>
                    <mat-slide-toggle [checked]="isGlobalNotificationEnabled"
                                      [color]="'green'">
                    </mat-slide-toggle>
                </div>
                <div class="rows">
                    <div *ngFor="let index of alertIndexes" class="row">
                        <!-- switch category -->
                        <div class="form-group">
                            <label>Kategória</label>
                            <mat-form-field>  
                                <mat-select [formControlName]="'category_'+index">
                                    <mat-select-trigger>
                                        <p>{{getSelectedCategory(index)}}</p>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let category of categories; let i = index" [value]="category" (click)="onClickOption(index, i)">
                                        <p>{{category}}</p>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- conditions -->
                        <div class="form-group">
                            <label>Típus</label>
                            <mat-form-field>  
                                <mat-select [formControlName]="'type_'+index">
                                    <mat-select-trigger>
                                        <p>{{getSelectedType(index)}}</p>
                                    </mat-select-trigger>
                                    <mat-option *ngFor="let type of types; let i = index" [value]="type" (click)="onClickTypeOption(index, i)">
                                        <p>{{type}}</p>
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group">
                            <label>Értéke</label> <!-- Értéke -->
                            <input type="text" [formControlName]="'value_'+index">
                        </div>
                        <div class="form-group">
                            <!-- title -->
                            <label>Cím</label>
                            <input type="text" [formControlName]="'title_'+index">
                        </div>
                        <div class="form-group">
                            <!-- text -->
                            <label>Szöveg</label>
                            <input type="text" [formControlName]="'text_'+index">
                        </div>
                        <div class="form-group">
                            <!-- isEnabled -->
                            <label>Engedélyezése</label>
                            <mat-slide-toggle [checked]="true"
                                            [color]="'green'"
                                            [formControlName]="'isEnabled_'+index">
                            </mat-slide-toggle>
                        </div>
                        <!-- delete -->
                        <div class="delete">
                            <i class="fa-solid fa-trash-can" (click)="onClickDelete(index)"></i>
                        </div>
                    </div>
                </div>
                <button class="new-row-button"
                        (click)="onClickNewRow()">
                        <i class="fa-solid fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="wrapper">
        <div class="title">Tartozások</div>
        <div class="divider"></div>
        <div class="content">
            <app-debt-rows [color]="'white'" [debtsInput]="debts" (debtDataChange)="setDebtsInput($event)" (validGroup)="setDebtValidGroup($event)"></app-debt-rows>
        </div>
    </div>
    <div class="button-wrapper">
        <button class="save-button" [disabled]="userFormGroup.invalid 
                                                || !debtValidGroup
                                                || paymentFormGroup.invalid
                                                || goalFormGroup.invalid
                                                || alertFormGroup.invalid" (click)="onClickSave()">Mentés</button>
    </div>
</div>