@import "src/styles/variables.scss";

.header-sub-menu-container {
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: $light-green;
    width: 200px;

    app-monogram {
        margin: 0.5rem;
    }
    .header {
        height: 50px;
        display: grid;
        grid-template-columns: auto 1fr;
        color: $white;
        background-color: $header-color;
        text-align: start;
        
        .name {
            margin: auto 0;
        }

        img {
            margin: 0.25rem 0.5rem;
            width: calc(50px - 1.2rem);
        }
    }

    .navigation nav {
        display: grid;

        a {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: center;

            .notification-sign {
                height: 0.5rem;
                width: 0.5rem;
                border-radius: 50%;
                background-color: #ffa500;
            }
        }

        .piggy-sense {
            display: none;
            justify-content: space-between;
            align-items: center;

            .piggy-sense-chat-icon {
                height: 1.5rem;
            }
            
            @media screen and (max-width: 660px) {
                display: flex;
            }
        }
        
        a, button {
            font-family: inherit;
            text-decoration: none;
            color: $white;
            border: none;
            background-color: transparent;
            padding: 0.5rem;
            text-align: start;
            font-size: 1rem;

            &:hover {
                cursor: pointer;
                background-color: $green;
            }
        }
    }
}