<div class="header-sub-menu-container">
    <div class="header">
        <ng-container *ngIf="false else monogram">
            <img src="" alt="">
        </ng-container>
        <ng-template #monogram>
            <div class="monogram-container">
                <div class="last-name">T</div>
                <div class="first-name">E</div>
            </div>
        </ng-template>
        <div class="name">Tóth Edina</div>
    </div>
    <div class="navigation">
        <nav>
            <a [routerLink]="AppUrl.Profil" (click)="onClickProfil()">Profil</a>
            <a [routerLink]="AppUrl.Settings" (click)="onClickSettings()">Beállítások</a>
            <a [routerLink]="AppUrl.Notifications" (click)="onClickNotifications()">Értesítések<div class="notification-sign"></div></a>
            <a [routerLink]="AppUrl.Contact" (click)="onClickContact()">Kapcsolat</a>
            <button (click)="onClickLogout()">Kijelentkezés</button>
        </nav>
    </div>
</div>
