@import "src/styles/variables.scss";

.card {
    width: clamp(340px, 25vw, 600px);
}

.header {
    gap: 3rem;
}

.card {
    gap: 1rem;
}

form {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-container {
    display: grid;
    margin-top: 1rem;
    width: 100%;

    button {
        width: 50%;
        margin: auto;
        border: none;
        border-radius: 10px;
        background-color: $dark-green;
        color: white;
        padding: 0.5rem 1rem;
        font-weight: 500;

        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}