@import "src/styles/variables.scss";

.knowledge-base-container {
    height: 100%;
    display: grid;
    grid-template-columns: 12rem 1fr;
    gap: 0.5rem;
    width: clamp(340px, 90vw, 1000px);
    margin: 0.5rem auto;

    &.mobile {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        .back-arrow {
            color: white;

            &:hover {
                filter: brightness(0.8);
                cursor: pointer;
            }
        }
    }

    .title-container, .article {
        height: auto;
        background-color: white;
        border-radius: 10px;
        height: fit-content;

        .article-title {
            padding: 0.5rem 0.75rem;

            &:hover {
                cursor: pointer;
                background-color: rgba($light-green, 0.2);
            }

            &.active {
                background-color: rgba($light-green, 0.4);
            }
        }
    }

    .title-container {
        padding: 0.5rem 0;

        .title {
            padding: 0 0.5rem;
        }
    }

    .content {
        display: grid;
    }

    .article {
        display: grid;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    h1, h3 {
        font-size: 1.2rem;
        color: $dark-green;
        margin: 0;
    }

    h1 {
        margin-bottom: 0.5rem;
    }

    h2, p {  
        font-size: 1rem;
        color: rgba($dark-green, 0.8);
        margin: 0;
        font-weight: 500;
    }

    span, a {
        color: rgba($dark-green, 0.5);
    }

    .article-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }
}