<div *ngIf="showHeader && user" class="header-container" #headerContainer>
    <img class="icon" src="assets/images/icon/icon.png" alt="" (click)="onClickIcon()">
    <div class="navigation">
        <nav>
           <a [routerLink]="AppUrl.Home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                Főoldal
            </a> 
           <a [routerLink]="AppUrl.Statistics" routerLinkActive="active">
                Statisztikák
            </a> 
           <a [routerLink]="AppUrl.KnowledgeBase" routerLinkActive="active">
                Tudástár
            </a> 
            <a *ngIf="isAdminShow" [routerLink]="AppUrl.Admin" routerLinkActive="active">
                Admin
            </a> 
        </nav>
    </div>
    <div class="sub-menu" (click)="onClickOpenSubMenu()">
        <div class="avatar-image">
            <div class="notification-icon">
                <i *ngIf="hasUnreadNotifications" class="fa-solid fa-bell"></i>
            </div>
            <ng-container *ngIf="user.avatarId; else monogram">
                <img [src]="user.avatarId" alt="Avatar Image">
            </ng-container>
            <ng-template #monogram>
                <app-monogram [firstName]="user.firstname" [lastName]="user.lastname"></app-monogram>
            </ng-template>
        </div>
    </div>
</div>

<div *ngIf="showHeader && user" class="header mobile">
    <img class="icon" src="assets/images/icon/icon.png" alt="" (click)="onClickIcon()">
    <h1>{{ title }}</h1>
    <div class="sub-menu" (click)="onClickOpenSubMenu()">
        <div class="avatar-image">
            <div *ngIf="hasUnreadNotifications" class="notification-sign"></div>
            <ng-container *ngIf="user.avatarId; else monogram">
                <img [src]="user.avatarId" alt="Avatar Image">
            </ng-container>
            <ng-template #monogram>
                <app-monogram [firstName]="user.firstname" [lastName]="user.lastname"></app-monogram>
            </ng-template>
        </div>
    </div>
</div>
