@import "src/styles/variables.scss";

.card {
    width: clamp(340px, 25vw, 600px);
    text-align: center;
}

.button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;

    button {
        padding: 0.5rem 1rem;
        text-align: center;
        border: none;
        border-radius: 10px;

        &:hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }

    .cancel {
        color: white;
        background-color: $dark-green;
    }

    .delete {
        color: white;
        background-color: $delete-btn-color;
    }
}