<div class="card">
    <div class="header">
        <div class="title">Tartozás hozzáadása</div>
        <i class="fa-solid fa-xmark" (click)="onClickClose()"></i>
    </div>
    <div class="content">
       <app-debt-rows [debtsInput]="debtInputs"
                   (debtDataChange)="dataChange($event)"
                   (validGroup)="invalidChange($event)"></app-debt-rows> 
       <div class="button-container">
            <button [disabled]="!isValidGroup" (click)="onClickSave()">Kész</button>
       </div>
    </div>
</div>
