@import "src/styles/variables.scss";

.button-container {
    display: grid;
    width: 100%;
    padding: 0.5rem 0 0;
}

.header {
    margin-bottom: 0.5rem;
    gap: 1rem;
} 

button {
    border: none;
    border-radius: 10px;
    background-color: $dark-green;
    color: white;
    padding: 0.5rem 1rem;
    width: 33%;
    margin: auto;

    &:hover {
        filter: brightness(1.2);
        cursor: pointer;
    }
}