@import "src/styles/variables.scss";

.header {
    margin-bottom: 1rem;
}

.content {
    display: grid;
    gap: 0.5rem;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 3rem;

    .label {
        font-style: italic;
        color: $dark-green;
    }

    .value-container {
        display: grid;
        gap: 0.25rem
    }

    .value {
        text-align: right;
        color: $light-green;
    }
}