@import "src/styles/variables.scss";

.questions-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: $white;

    img {
        height: 100vh;
    }
}