@import "src/styles/variables.scss";

.questions-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: $white;

    .question-container {
        padding: 0.5rem;
        overflow: hidden;
    }

    .step-container {
        overflow: hidden;
    }

    img {
        height: 100vh;
    }
}