@import "src/styles/variables.scss";

.debts-container {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-rows: auto 1fr auto;
    color: $dark-green;
    overflow: hidden;

    h1 {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 0.5rem 0;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
    }
}