<div class="debts-container">
    <h1>Milyen tartozásai vannak és mi az összegük?</h1>
    <app-debt-rows [debtsInput]="debtInputs"
                   (debtDataChange)="dataChange($event)"
                   (validGroup)="invalidChange($event)"></app-debt-rows>
    <div class="button-container">
        <button class="previous-button"
            (click)="onClickPrevious()">Előző</button>
        <button class="next-button"
                [disabled]="isValidGroup"
                (click)="onClickNext()">Következő</button>
    </div>
</div>
