<div class="content">
    <div class="login-container">
        <img clas="icon" src="assets/images/icon/icon.png" alt="">
        <div class="title">
            <h1>Bejelentkezés</h1>
        </div>
        <form [formGroup]="loginForm">
            <div class="form-group">  
                <label for="emailOrUsername">Email/Felhasználónév</label>
                <input id="emailOrUsername" type="text" formControlName="emailOrUsername">
                <small *ngIf="loginForm.get('emailOrUsername')?.dirty &&
                              loginForm.get('emailOrUsername')?.errors?.['required']">Kötelező mező</small>
                              
                <small *ngIf="loginForm.get('emailOrUsername')?.dirty &&
                              loginForm.get('emailOrUsername')?.errors?.['minlength']">Legalább 4 karakterből kell, hogy álljon!</small>
            </div>
            <div class="form-group">
                <label for="password">Jelszó</label>
                <input id="password" type="password" formControlName="password">
                 <small *ngIf="loginForm.get('password')?.dirty &&
                              loginForm.get('password')?.errors?.['required']">Kötelező mező</small>

                <small *ngIf="loginForm.get('password')?.dirty &&
                              loginForm.get('password')?.errors?.['minlength']">Legalább 6 karakterből kell, hogy álljon!</small>

                <small *ngIf="loginForm.get('password')?.dirty &&
                              loginForm.get('password')?.errors?.['maxlength']">Legfeljebb 25 karakterből állhat a jelszó!</small>
            </div>
        </form>
        <div class="button-container">
            <button [disabled]="loginForm.invalid" 
                    (click)="onClickLogin()">Bejelentkezés</button>
        </div>
    </div>
    <p class="text">Még nincs fiókja? <span class="sign-up" (click)="onClickSignUp()">Regisztráljon</span></p>
</div>
<!-- TODO: mobil nézet -->