@import "src/styles/variables.scss";

.content {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    .login-container {
        background-color: $header-color;
        color: $white;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        gap: 2rem;
        padding: 1rem;
        width: clamp(340px, 50vw, 450px);
        border-radius: 10px;
        margin: auto 0 0;

        img {
            margin: 0 auto;
            height: 5rem;
            width: 5rem;
        }

        .title h1 {
            margin: 0;
        }

        form {
            display: grid;
            gap: 0.5rem;
            text-align: start;

            .form-group {
                display: grid;
                gap: 0.5rem;

                input {
                    color: $white;
                }
            }

            label {
                margin-top: 0.5rem;
            }

            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $white;
            }
        }

        .button-container {

            button {
                background-color: $dark-green;
                padding: 0.5rem;
                width: 50%;
                border-radius: 10px;
                border: none;
                color: $white;
                font-weight: bold;
            }
        }
    }

    .text {
        color: $white;
        margin: 1rem 0 auto;

        .sign-up {
            color: $dark-green;
            filter: brightness(0.8);

            &:hover {
                filter: brightness(0.6);
                cursor: pointer;
            }
        }
    }
}

