$light-green: #599E9B;
$green: #4B8683;
$dark-green: #346B69;

$white: #fff;

$light-gray: #ECF0F3;

$header-color: #45807E;

$delete-btn-color: #E44646;
$validate-error: #b20000;

$active-color: #8EF0C6;

$home-color: #B5C8EA;
$public-transport-color: #F0A3B4;
$food-color: #CC79A7;
$health-color: #8F3985;
$shopping-color: #56B4E9;
$recreation-color: #0072B2;
$family-color: #F0E442;
$credit-color: #E69F00;
$insurance-color: #D55E00;
$save-color: #009E73;
$other-color: #7A9E7E;