@import "src/styles/variables.scss";

.card {
    width: clamp(340px, 25vw, 600px);
}

.header {
    gap: 2rem;
}

textarea:focus-visible {
    outline: none;
}

.form-group {
    display: grid;
    margin-top: 0.5rem;
    gap: 1rem;
    color: $dark-green;

    input {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid $dark-green;
        width: 100%;

        &:focus-visible {
            outline: none;
        }
    }
}

.button-container {
    display: grid;
    margin-top: 1rem;
    width: 100%;

    button {
        width: 50%;
        margin: auto;
        border: none;
        border-radius: 10px;
        background-color: $dark-green;
        color: white;
        padding: 0.5rem 1rem;
        font-weight: 500;

        &:disabled {
            opacity: 0.6;
        }

        &:not(:disabled):hover {
            filter: brightness(1.2);
            cursor: pointer;
        }
    }
}