@import "src/styles/variables.scss";

.content {
    height: 100vh;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
    }

    .sign-up-container {
        background-color: $header-color;
        color: $white;
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        gap: 1.5rem;
        padding: 1rem;
        width: clamp(340px, 50vw, 450px);
        border-radius: 10px;
        margin: auto 0 0;
        margin-top: 1rem;

        @media screen and (max-width: 700px) {
            width: auto;
        }

        @media screen and (max-width: 400px) {
            width: 80vw;
            gap: 0.5rem;
            margin-top: 0.5rem;
        }

        img {
            margin: 0 auto;
            height: 5rem;
            width: 5rem;
        }

        .title h1 {
            margin: 0;
        }

        form {
            display: grid;
            gap: 0.5rem;
            text-align: start;

            @media screen and (max-width: 400px) {
                gap: 0;
            }

            .form-group {
                display: grid;
                gap: 0.25rem;
                position: relative;
                margin-bottom: 1rem;

                input {
                    color: $white;
                }
            }

            .row {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 1rem;

                @media screen and (max-width: 400px) {
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    gap: 0;
                }
            }

            label {
                margin-top: 0.5rem;
            }

            small {
                color: $validate-error;
                position: absolute;
                bottom: -1.2rem;
            }

            input {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $white;
            }
        }

        .button-container {

            button {
                background-color: $dark-green;
                padding: 0.5rem;
                width: 50%;
                border-radius: 10px;
                border: none;
                color: $white;
                font-weight: bold;

                &:disabled {
                    opacity: 0.6;
                }
            }
        }
    }

    .text {
        color: $white;
        margin: 1rem;

        @media screen and (max-width: 400px) {
            margin: 0.5rem;
        }

        .login {
            color: $dark-green;
            filter: brightness(0.8);

            &:hover {
                filter: brightness(0.6);
                cursor: pointer;
            }
        }
    }
}

